USE [PostaSalud]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 27/06/2023 22:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[idAgenda] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[idMedico] [int] NOT NULL,
	[Turno] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cita]    Script Date: 27/06/2023 22:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cita](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[idMedico] [int] NULL,
	[Orden] [int] NULL,
	[costoCita] [float] NULL,
	[fechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 27/06/2023 22:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[idEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombreEspecialidad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 27/06/2023 22:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[idMedico] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedico] [varchar](50) NOT NULL,
	[Apellido_Pat] [varchar](59) NOT NULL,
	[Apellido_Mat] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[idEspecialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 27/06/2023 22:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[idPaciente] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Nombre] [varchar](25) NULL,
	[Apellido_Paterno] [varchar](50) NOT NULL,
	[Apellido_Materno] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[SeguroSIS] [bit] NOT NULL,
	[Contrasena] [varchar](50) NULL,
	[Correo] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agenda] ON 

INSERT [dbo].[Agenda] ([idAgenda], [FechaHora], [idMedico], [Turno]) VALUES (1, CAST(N'2023-05-28T08:30:00.0000000' AS DateTime2), 2, N'Mañana')
INSERT [dbo].[Agenda] ([idAgenda], [FechaHora], [idMedico], [Turno]) VALUES (2, CAST(N'2023-05-28T09:00:00.0000000' AS DateTime2), 2, N'Mañana')
INSERT [dbo].[Agenda] ([idAgenda], [FechaHora], [idMedico], [Turno]) VALUES (3, CAST(N'2023-05-28T09:30:00.0000000' AS DateTime2), 3, N'Mañana')
SET IDENTITY_INSERT [dbo].[Agenda] OFF
GO
SET IDENTITY_INSERT [dbo].[cita] ON 

INSERT [dbo].[cita] ([idCita], [idPaciente], [idMedico], [Orden], [costoCita], [fechaHora]) VALUES (30, 1, 33, 1, 0, CAST(N'2023-06-28T08:00:00.000' AS DateTime))
INSERT [dbo].[cita] ([idCita], [idPaciente], [idMedico], [Orden], [costoCita], [fechaHora]) VALUES (31, 1, 25, 1, 0, CAST(N'2023-08-26T18:21:00.000' AS DateTime))
INSERT [dbo].[cita] ([idCita], [idPaciente], [idMedico], [Orden], [costoCita], [fechaHora]) VALUES (32, 1, 34, 1, 0, CAST(N'2023-06-24T08:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[cita] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([idEspecialidad], [nombreEspecialidad]) VALUES (1, N'Medicina General')
INSERT [dbo].[Especialidad] ([idEspecialidad], [nombreEspecialidad]) VALUES (2, N'Psicología')
INSERT [dbo].[Especialidad] ([idEspecialidad], [nombreEspecialidad]) VALUES (3, N'Pediatría')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([idMedico], [NombreMedico], [Apellido_Pat], [Apellido_Mat], [telefono], [idEspecialidad]) VALUES (2, N'Fritz Frost', N'Hicks', N'Tate', N'(255) 226-5462', 7)
INSERT [dbo].[Medico] ([idMedico], [NombreMedico], [Apellido_Pat], [Apellido_Mat], [telefono], [idEspecialidad]) VALUES (3, N'Keaton Perez', N'Downs', N'Geoffrey', N'(157) 834-9508', 8)
INSERT [dbo].[Medico] ([idMedico], [NombreMedico], [Apellido_Pat], [Apellido_Mat], [telefono], [idEspecialidad]) VALUES (4, N'Amanda Wade', N'Mooney', N'Curran', N'(384) 718-5379', 8)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
SET IDENTITY_INSERT [dbo].[PACIENTE] ON 

INSERT [dbo].[PACIENTE] ([idPaciente], [DNI], [Nombre], [Apellido_Paterno], [Apellido_Materno], [edad], [SeguroSIS], [Contrasena], [Correo]) VALUES (1, N'40429532', N'Kane Valentine', N'Silas', N'Erin', 52, 1, N'7777', N'Kane@hotmail.com')
INSERT [dbo].[PACIENTE] ([idPaciente], [DNI], [Nombre], [Apellido_Paterno], [Apellido_Materno], [edad], [SeguroSIS], [Contrasena], [Correo]) VALUES (2, N'62377619', N'Jared Booker', N'Zachary', N'Carol', 30, 1, N'12345', N'Jared@hotmail.com')
INSERT [dbo].[PACIENTE] ([idPaciente], [DNI], [Nombre], [Apellido_Paterno], [Apellido_Materno], [edad], [SeguroSIS], [Contrasena], [Correo]) VALUES (3, N'12736035', N'Tobias Mccarthy', N'Zachery', N'Allegra', 51, 1, N'12345', N'Tobias@hotmail.com')
SET IDENTITY_INSERT [dbo].[PACIENTE] OFF
GO
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_idMedico] FOREIGN KEY([idMedico])
REFERENCES [dbo].[Medico] ([idMedico])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_idMedico]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD FOREIGN KEY([idEspecialidad])
REFERENCES [dbo].[Especialidad] ([idEspecialidad])
GO
